* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h3,
h2,
h4,
p {
    padding: 0;
    margin: 0;
}


.chatPage {
    width: 100%;
    height: 98vh;
    background-color: #F5F6FA;

    display: flex;
    flex-direction: row;

    .chatList {
        width: 30%;
        height: 100%;
        padding: 25px;
        display: flex;
        flex-direction: column;

        .userInfo {
            width: 100%;
            height: 90px;
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                height: 80px;
                width: 80px;
                margin-right: 15px;
            }

            p {
                font-size: 13px;
                color: grey;
            }

            .userDetails {
                margin-top: -20px;
                // background-color: red;
                width: 100%;
            }

            .userDetails>div {
                display: flex;
                justify-content: space-between;

                p {
                    margin-top: 10px;
                    font-size: 18px;
                    font-weight: 100;
                }
            }
        }

        .chats {
            width: 100%;
            height: 100%;
            margin-top: 20px;
            border-radius: 30px;
            background-color: #FFFFFF;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            padding: 25px;
            overflow-y: scroll;
            overflow-x: hidden;

            .searchBar {
                position: sticky;
                top: 10px;
                height: 60px;
                width: 100%;
                border-radius: 30px;
                padding: 15px 20px;

                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #F5F6FA;
                color: #c7c5c5;
                font-size: 20px;

                input {
                    border: none;
                    background-color: #F5F6FA;
                    color: #c7c5c5;
                    font-size: 18px;
                }

                input:focus {
                    outline: none;
                }
            }

            .chatsContainer {
                background-color: #FFFFFF;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 70vh;
                margin-top: 25px;
                // overflow-y: auto;
                // overflow-x: visible;
                // background-color: red;

                .chatItemContainer {
                    width: 100%;
                    height: 80px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .chatImg {
                        width: 15%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;

                        img {
                            width: 70px;
                            height: 70px;
                        }

                        .online {
                            position: absolute;
                            bottom: 10px;
                            right: 6px;
                            color: red;
                            background-color: red;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 15px;
                            width: 15px;
                            border-radius: 50%;
                        }
                    }

                    .recentMessage {
                        width: 70%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 0px 10px;

                        p {
                            padding-top: 5px;
                            font-size: 11px;
                            color: black;
                        }
                    }

                    .chatInfo {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        justify-content: space-between;
                        color: #c7c5c5;
                        font-size: 13px;


                        .number {
                            background-color: red;
                            color: white;
                            font-size: 15px;
                            height: 20px;
                            width: 20px;
                            text-align: center;
                            margin-top: 4px;
                            border-radius: 50%;
                        }
                    }

                    margin-bottom: 25px;
                }

                .chatItemContainer:hover {
                    width: 105%;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
                    background-color: #FFFFFF;
                    border-radius: 20px;
                    // position:static;
                }
            }
        }
    }

    .openChat {
        padding: 25px;
        height: 100%;
        width: 70%;

        .headBar {
            width: 100%;
            height: 150px;
            border-radius: 10px;
            background-color: #e7ecfc;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;


            .senderInfo {
                padding: 15px;
                height: 60%;
                border-bottom: 1px solid #c2c9f3;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .headSpace {
                    display: flex;
                }

                .openChatImg {
                    display: flex;
                    align-items: center;
                    position: relative;

                    p{
                        position: absolute;
                        top: 35px;
                        left:40px;
                        height: 15px;
                        width: 15px;
                        color:red;
                        background-color: red;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                    }
                }

                img {
                    height: 60px;
                    width: 60px;
                    margin-right: 10px;
                }

                p {
                    height: 35px;
                    width: 35px;
                    background-color: #E8F1FC;
                    border-radius: 20px;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #2680EB;
                    margin: 5px;
                }

                

                
            }

            .additionalInfo {
                height: 40%;
                width: 100%;
                padding: 0px 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                color: #2680EB;

                .typing {
                    text-align: left;
                }

                .clear {
                    width: 50%;
                    cursor: pointer;
                    text-align: right;
                }
            }
        }

        .chatRoom {
            margin-top: 25px;
            width: 100%;
            height: 65vh;
            overflow-y: scroll;

            .chatRoomDate {
                width: 100%;
                color: rgb(190, 182, 182);
                font-size: 13px;
                display: flex;
                justify-content: center;
                align-items: center; 
            }

            .leftMessage {
                width: 100%;
                height: 50px;
                display: flex;
                align-items:flex-start;
                flex-direction: column;
                justify-content: flex-start;
                margin-bottom: 10px;

                p {
                    color: white;
                    background-color: #c2c9f3;
                    height: 50px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    border-radius: 20px;
                }

                span {
                    margin-top: 2px;
                    margin-left: 10px;
                    font-size: 10px;
                    color: grey;
                    display: block;
                }
            }

            .rightMessage{
                width: 100%;
                height: 50px;
                display: flex;
                align-items:flex-end;
                flex-direction: column;
                justify-content: flex-end;
                margin-bottom: 10px;
                
                p {
                    color: white;
                    background-color: #2680EB;
                    height: 50px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    border-radius: 20px;
                }

                span {
                    margin-top: 2px;
                    margin-right: 10px;
                    font-size: 10px;
                    color: grey;
                    display: block;
                }
            }
        }

        .textBar {
            width: 68%;
            height: 60px;
            position: fixed;
            bottom: 40px;
            right: 25px;
            border-radius: 50px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0px 10px;
            font-size: 20px;

            color: #c7c5c5;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;


            p {
                height: 35px;
                width: 35px;
                background-color: #2680EB;
                border-radius: 20px;

                display: flex;
                align-items: center;
                justify-content: center;
            }

            input {
                height: 40px;
                font-size: 15px;
                border: none;
                width: 90%;
            }

            input:focus {
                outline: none;
            }

            i {
                cursor: pointer;
            }

            button {
                cursor: pointer;
            }
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}